#Database
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_NAME=ecommerce
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}

#Backend
NODE_ENV=deployment
PORT=3008
JWT_SECRET=your_jwt_token

API_KEY=write_api_key_here