@use '@/styles/variables' as *;

.section {

    .title {
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary-color;
        margin-bottom: 20px;
    }
}

.grid {
   display: flex;
   flex-direction: column;
    gap: 5px;
}

.card {
    padding: 10px;
    background-color: $background;
    border-radius: 12px;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    transition: $basic-animation;
    &:hover {
        box-shadow: $hover-shadow;
        background-color: $surface;
    }
}



.name {
    font-size: 0.95rem;
    font-weight: 600;
    color: $primary-color;
    transition: color 0.2s;
    text-align: center;
}